/docs
/full-app-demos
/build
/lurpic
/cmd/quick_square_app
/render/vulkan/crates/lurpic_render/target/
marks/**/**/testdata/
*_actual.png
.claude
.codex
.windsurf
.github
.tools
*.test
"/
Stravatar-APP/
devdocs/
